/*
 *******************************************************************************
 * Source file name : game.css                                                 *
 * Author's name : Duc Minh Tran (300771859)                                   *
 * Last Modified by : Duc Minh Tran (300771859)                                *
 * Last Modified date : Feb 2016                                               *
 * Program description : This web game, by using create js, is kind of         *
 *                     simulation of a slot machine. User can spin the Reels   *
 *                     and enjoy the fun of it                                 *
 * Revision History : 2                                                        *
 *******************************************************************************
*/

body {
    background-image: url("../Assets/images/mainBG.jpg");
    background-repeat: no-repeat;
    background-position:center;    
    background-attachment:fixed;
    background-color: #090f0f;
}

canvas {     
    text-align: center;
    margin: auto;
    background-color: black;
}

.game {
    width: 900px;
    height: 700px;
    margin: auto;
}