body {
    background-image: url("../Assets/images/mainBG.jpg");
    background-repeat: no-repeat;
    background-position:center;    
    background-attachment:fixed;
}

canvas {     
    text-align: center;
    margin: auto;
    background-color: black;
}

.game {
    width: 900px;
    height: 700px;
    margin: auto;
}